# Credentials and Environment files
*.env
*firebase-adminsdk*.json
.env
credentials.json
*.pem
*.key

# Python
__pycache__/
*.py[cod]
*$py.class

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore logs and temp files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Python virtual environments
venv/

# API Keys and Secrets
**/credentials/*
**/secrets/*
*.secret
api_key*
*_key*
*_token*
*_secret*
google_credentials.json
google-credentials.json
openai.key

daily-motivation-generator-firebase-adminsdk-txkxn-405d37c7aa.json
